.cover{
    background: #222 no-repeat center center;
    background-image: url('../../assets/cover.jpg');
    background-size: cover ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

.cover div{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
}

.cover h1, p{
    text-align: center;
    z-index: 1;
}

.cover h1{
    font-size: 3rem;
}

.entries-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin: 0 auto;
    margin-top: 50px;
    max-width: 80%;
}

.list-item{
    padding: 0 20px;
    margin-bottom: 20px;
}

.list-item h2{
    font-size: 2rem;
    color: rgb(62, 62, 62);
}

.list-item p{
    font-family: 'Roboto', sans-serif;
    color:#3A4145;
    text-align: left;
    line-height: 1.7em;
    font-size: .9em;

}

.list-item .author-data{
    display: flex;
    align-items: center;
}

.list-item .author-data img{
    width: 24px;
    height: 24px;
    margin:0 9px 0 0;
    border-radius: 50%;
}

.list-item .author-data span{
    color:#9EABB3;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}


.detail-cover{
    background-image: url('../../assets/wall.jpg');
    background-size: cover;
    background-position-y: center;
    height: 500px;
}

.detail-container{
    display: flex;
    align-items:  center;
    margin-top: 50px;
    flex-direction: column;
    margin:0 auto;
    max-width: 80%;
}


.detail-container h1{
    text-align: center;
    font-size: 2rem;
    margin: 50px 0;
}

@media(max-width:720px){
    .detail-cover{
        height: 240px;
    }
}