.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form{
    margin: 30px auto;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    border: 1px solid #dae1e3;
    background: #f8fbfd;
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.login-form input{
    padding: 10px;
    border: 1px solid #dae1e3;
    font-size: 1.6rem;
    line-height: 1.4em;
    font-weight: 100;
    display: block;
    padding: 8px 10px;
    border: 1px solid #dfe1e3;
    border-radius: 4px;
    color: #666;
    font-size: 1.4rem;
    font-weight: 400;
    user-select: text;
    transition: border-color .15s linear;
    -webkit-appearance: none;
    margin-bottom: 20px;
}

.login-form button{
    cursor: pointer;
    border-color: #859f41;
    background: #9fbb58;
    color:#fff;
    padding: 9px 15px;
    font-size: 1rem;
    transition: color .2s ease,background .2s ease,border-color .2s ease;
    border-radius: 4px;
    border: 1px solid #dfe1e3;
    text-transform: uppercase;
    font-family: 'Roboto';
}

.login-form button:hover{
    border-color: #9fbb58;
    background: #859f41;
}